<%- include('../includes/b-shop-head-p.ejs') %>
<link rel="stylesheet" href="/css/c-login-page.css">
<link rel="stylesheet" href="/css/c-validation.css">
  </head>
  <body>
    <%- include('../includes/b-shop-nav-p.ejs') %>
    <main>
      <section class="login">
        <div class="loginForm">
          <h1>Reset password</h1>
      
          <form action="/newPassword" method="POST" onsubmit="button.disabled = true">
            <% if (errorMessage.length > 0) { %>
            <div class="validation"><p><%= errorMessage %></p></div>
            <% } %>
            <div class="password">
                <input type="password" name="password" id="password" placeholder="password">
              </div>
              <div class="confirm-password">
                <input type="password" name="confirmPassword" id="confirmPassword" placeholder="confirm password">
            </div>
            <div class="controls">
                <input type="hidden" name="userId" value="<%= userId %>">
                <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
              <button name="button" type="submit">RESET</button>
            </div>
          </form>
        </div>
      </section>
    </main>
  </body>
</html>