<%- include('../includes/b-shop-head-p.ejs') %>
<link rel="stylesheet" href="/css/e-main.css">
<link rel="stylesheet" href="/css/e-add-product.css">
<link rel="stylesheet" href="/css/c-validation.css">
<style>
    section div.validation,
    section div.successMsg {
        margin-top: 30px;
    }
</style>
  </head>
  <body>
    <%- include('../includes/b-shop-nav-p.ejs') %>
    <main>
      <section class="user">
        <div class="hello">
          <h1>Hi <%= userName %>!</h1>
          <a href="/my-shop/add-product">Add Product</a>
          <a href="/my-shop/my-products">My Products</a>
        </div>
        <div class="container">
            <section class="addProduct">
                <h1>Add product</h1>
        <div class="addInputs">
            <% if (successMessage.length > 0) { %>
                <div class="successMsg"><p><%= successMessage %></p></div>
                <% } %>
            <% if (errorMessage.length > 0) { %>
                <div class="validation"><p><%= errorMessage %></p></div>
            <% } %>
            <form action="/my-shop/add-product" method="POST" enctype="multipart/form-data" onsubmit="button.disabled = true">
                <div class="first">
                    <div class="image">
                        <input type="file" name="image" id="image">
                    </div>

                    <div class="title">
                        <input type="text" name="title" id="title" placeholder="title" value="<%= oldInput.title %>">
                    </div>

                    <div class="description">
                        <input name="description" id="description" placeholder="description" maxlength="70" value="<%= oldInput.description %>">
                    </div>

                    <div class="price">
                        <input type="number" name="price" id="price" placeholder="price" value="<%= oldInput.price %>">
                    </div>
                </div>
                <div class="second">

                    <div class="isNew">
                            <label class="container" for="new">New
                            <input type="checkbox" class="radio" name="condition" id="new" value="new">
                            <span class="checkmark"></span>
                            </label>
            
                            <label class="container" for="used">Used
                            <input type="checkbox" class="radio" name="condition" id="used" value="used">
                            <span class="checkmark"></span>
                            </label>
                    </div>
  
                    <div class="category">
                            <label class="container" for="electronics">Electronics
                                <input type="checkbox" class="radio1" name="category" id="electronics" value="electronics">
                                <span class="checkmark"></span>
                            </label>
                
                            <label class="container" for="sport">Sport
                                <input type="checkbox" class="radio1" name="category" id="sport" value="sport">
                                <span class="checkmark"></span>
                            </label>
                
                            <label class="container" for="automotive">Automotive
                                <input type="checkbox" class="radio1" name="category" id="automotive" value="automotive">
                                <span class="checkmark"></span>
                            </label>
                
                            <label class="container" for="fashion">Fashion
                                <input type="checkbox" class="radio1" name="category" id="fashion" value="fashion">
                                <span class="checkmark"></span>
                            </label>
                    </div>
  
                            <div class="controls">
                            <button name="button" type="submit">ADD</button>
                            </div>
                </div>
            </form>
        </div>
             
        </section>
        </div>
      </section>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){   
           $('.radio').click(function() {
              $('.radio').not(this).prop('checked', false);
           });
        });
        $(document).ready(function(){
     $('.radio1').click(function() {
        $('.radio1').not(this).prop('checked', false);
     });
     });
        </script>
  <%- include('../includes/b-shop-end-p.ejs') %>